.quests {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
}

.article {
  max-width: 450px;
  text-align: justify;
  margin: 50px auto;
  box-shadow: -3px 3px $thirdColor, 10px 10px 10px #1312121f;

  border-radius: 30px;
  padding: 50px;
  &:hover {
    box-shadow: 10px 10px 10px #1312121f, -3px 3px $thirdColor;
    transition: $mainAnimationTime;
  }
  &:hover .title-quest:before {
    width: 10%;
  }

  .title-quest {
    margin-bottom: 20px;
    @include textType(1);
    &:before {
      @include beforePreset();
      position: relative;
      width: 5%;
      height: 5px;
      top: 45px;
      right: 25px;
      background: $mainColorFont;
      transition: $mainAnimationTime;
      opacity: 0.2;
    }
  }
  .paragraph-quest {
    @include textType(2);
  }
  .quest-icon {
    color: $mainColorFont;
    margin-top: 20px;
    font-size: 2em;
    &:hover {
      animation: timer-icon-wiggle 0.2s ease-in-out;
    }
  }
}

@media only screen and (min-width: 600px) {
  .quests {
    flex-direction: column;
  }
  .article {
    max-width: 390px;
    .title-quest:before {
      top: 85px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .quests {
    flex-direction: row;
  }
  .article {
    max-width: 350px;
    .title-quest:before {
      top: 85px;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .article {
    max-width: 600px;
    .title-quest:before {
      top: 50px;
    }
  }
}
