.quests {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
}

.article {
  max-width: 450px;
  margin: 50px auto;
  text-align: justify;
  box-shadow: -3px 3px $thirdColor, 10px 10px 10px $shadowColor;
  border-radius: 30px;
  padding: 50px;

  &:hover {
    box-shadow: 10px 10px 10px $shadowColor, -3px 3px $thirdColor;
    transition: $mainAnimationTime;
  }

  &:hover .title-quest:before {
    width: 10%;
  }

  .title-quest {
    margin-bottom: 20px;
    @include text-type(1);

    &:before {
      @include before-after-preset();
      width: 5%;
      height: 5px;
      position: relative;
      top: 45px;
      right: 25px;
      background: $mainColorFont;
      transition: $mainAnimationTime;
      opacity: 0.2;
    }
  }

  .paragraph-quest {
    @include text-type(2);
  }

  .quest-icon {
    margin-top: 20px;
    font-size: 2em;
    color: $mainColorFont;

    &:hover {
      animation: timer-icon-wiggle 0.2s ease-in-out;
    }
  }
}

@media only screen and (min-width: 600px) {
  .quests {
    flex-direction: column;
  }

  .article {
    max-width: 390px;

    .title-quest:before {
      top: 85px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .quests {
    flex-direction: row;
  }

  .article {
    max-width: 350px;

    .title-quest:before {
      top: 85px;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .article {
    max-width: 600px;

    .title-quest:before {
      top: 50px;
    }
  }
}
