.footer {
  width: 280px;
  height: 330px;
  bottom: -65px;
  left: 80px;
  position: relative;
  @include text-type(2);

  a {
    transition: $mainAnimationTime;
  }

  a:hover {
    font-size: 1.5em;
    transition: $mainAnimationTime;
  }
}

@media only screen and (min-width: 650px) {
  .footer {
    bottom: 215px;
    left: 655px;
    writing-mode: vertical-lr;
  }
}

@media only screen and (min-width: 900px) {
  .footer {
    height: 385px;
    left: 660px;
    bottom: 276px;
    @include text-type(2);
  }
}
