@import "./variables";

body {
  background-color: $mainColor;
}

a{
  text-decoration: none;
  color:$mainColorFont;

}

a:visited{
  color:$mainColorFont;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: $secondColor;
}

::-webkit-scrollbar {
  width: 40px;
  background-color: red;
}

::-webkit-scrollbar-thumb {
  width: 40px;
  background-color: red;
}

::-webkit-scrollbar-track {
  width: 40px;
  background-color: red;
}
