$mainColor: #ee5353;
$secondColor: #008000;
$thirdColor: #f08989;
$gradientBtns: linear-gradient(-20deg, #4fcc4f, $secondColor);
$shadowColor: #1312121f;

$mainFont: Rubik, arial;
$secondFont: Montserrat, sans-serif;

$mainColorFont: #fff;
$secondColorFont: $mainColor;
$thirdColorFont: #fdf4f4;

$mainAnimationTime: 0.2s linear;
